body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

div {
    border: 1px solid black;
}

#main-container {
    display: grid;
    gap: 0.2rem;
    grid-template:  4rem repeat(2, 6rem) 15rem 6rem / repeat(6, 1fr);
    border: none;
}

#main-container > div {
    display: grid;
    justify-content: center;
    align-content: center;
}

#first-block {
    background-color: red;
    grid-column: 1 / 7;
    margin: 0;
}

.blue-block {
    background-color: blue;
}

.yellow-block {
    background-color: yellow;
}

.green-block {
    background-color: green;
}

.black-block {
    background-color: black;
    color: white;
    grid-column: span 3;
}

.white-block {
    background-color: white;
}

.blue-block,
.yellow-block,
.green-block,
.white-block {
    grid-column: span 2;
}

.blue-block,
.yellow-block,
.green-block,
.black-block,
.white-block {
    margin: 0.8rem;
}

@media screen and (max-device-width : 800px) and ( min-device-width : 400px) {
    
    #main-container {
        grid-template: 4rem repeat(4, 6rem) 15rem repeat(2, 6rem) / repeat(2, 1fr);
    }

    #first-block {
        grid-column: 1 / 3;
    }

    .blue-block,
    .yellow-block,
    .white-block,
    .black-block {
        grid-column: span 1;
    }

    .green-block {
        grid-column: span 2;
    }

    .white-block:last-of-type {
        grid-column: span 2;
    }
    
}

@media screen and (max-device-width : 400px) {

    #main-container {
        grid-template: 4rem repeat(6, 6rem) repeat(2, 15rem) repeat(3, 6rem) / repeat(1, 1fr);
    }

    #first-block,
    .blue-block,
    .yellow-block,
    .green-block,
    .white-block,
    .black-block {
        grid-column: span 1;
    }

}